<h2>exprience </h2>

<% @worker_positions.each do |position| %>
  <div class="card mb-3">
    <%= site_photo(position.site, transformation: {height: '400', width: '1000', crop: "fill"}, class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><%= position.site.name %></h5>
      <p class="card-text"><strong>Role : </strong> <%= position.position_name %></p>
      <p class="card-text"><small class="text-muted">ociété: <%= position.company.name %></small></p>
      <p class="card-text"><strong>Non du chantier :</strong> <%= position.site.client.name %></p>
      <p class="card-text"><strong>Montant :</strong><%= position.site.amount %><%= position.site.money_unit %></p>
    </div>
  </div>
<% end %>
