<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Age</th>
          <th scope="col">Ancieneté<br><%= t 'final_client' %></th>
          <th scope="col">Ancieneté<br>totale</th>
          <th scope="col">Date<br>emmbauche</th>
          <th scope="col">Date<br>naissance</th>
          <th scope="col">Matricule</th>
          <th scope="col">Contrôle</th>
        </tr>
    </thead>
    <tbody>
      <% @workers.each do |worker| %>
      <tr data-target="search.worker" data-id=<%= worker.id %>>
        <th scope="row"><%= worker.id %></th>
        <td><%= worker.last_name %></td>
        <td><%= worker.first_name %></td>
        <td><%= worker.age_in_year %> ans</td>
        <td><%= worker.hiring_time_in_year %> ans</td>
        <td><%= worker.duration_since_last_graduate_in_years %> ans</td>
        <td><%= l(worker.hire_date, format: '%d-%m-%Y') %></td>
        <td><%= l(worker.birth_date, format: '%d-%m-%Y') %></td>
        <td><%= worker.matricule %></td>
        <td>
          <span class="m-auto">
            <%= link_to icon('far','eye'), worker_path(worker), class: "text-succes" %>
          </span>
          <span class="m-auto">
            <%= link_to icon('far','edit'), edit_worker_path(worker), class: "text-info" %>
          </span>
          <span class="m-auto">
            <%= link_to worker_path(worker), method: :delete, class: "text-danger", data: { confirm: "Voulez-vous supprimer #{worker.first_name} #{worker.last_name}?" } do %>
              <%= icon('far','trash-alt') %>
            <% end %>
          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
