  <div class="card bg-light col-12 m-auto mb-5 p-0">
    <div class="card-header d-flex justify-content-between inline-block">
      <%= image_tag 'terideal_logo.png', {height: '100px', class: 'align-middle'} %>
      <h1 class="my-auto"><%= @worker.first_name%> <%= @worker.last_name%></h1>
      <% if @worker.positions.blank? %>
        <h1><%= t '.no_data' %> <%= t '.add_new_experience' %></h1>
      <% else %>
        <h1 class="my-auto"><%= @worker.positions.last.position_name %></h1>
      <% end %>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
          <h4 class="card-title">Information personnelles</h4>
          <ul class="list-inline">
            <li class="list-inline-item mr-4"><p>age : <%= @age %> ans, </p></li>
            <li class="list-inline-item ml-4"><p>Né le <%= l(@worker.birth_date, format: '%d %B %Y') %></p></li>
          </ul>
        </li>
        <li class="list-group-item bg-light">
          <div class="d-flex justify-content-end">
            <%= worker_photo(@worker, transformation: {:width=>150, :height=>150, :gravity=>"face", :crop=>"thumb"}, class: "img-fluid img-thumbnail rounded") %>
          </div>
            <div class="d-flex justify-content-end mt-4" data-controller="toggle-display">

              <button class="btn btn-primary shadow" data-action="click->toggle-display#toggleShow" data-model="profil" data-target="toggle-display.newProfilButton">Modifier la photo</button>
            </div>
        </li>
        <li class="list-group-item bg-light">
          <h4 class="card-title">Identifiant et mots de passe: </h4>
          <div class="d-flex justify-content-between">
            <%= current_user.email %>
          </div>
        </li>
    </div>
</div>

<br>
<br>
<br>
<br>

<h1><%= @worker.first_name%> <%= @worker.last_name%></h1>
<br>
<%= worker_photo(@worker, transformation: {:width=>300, :height=>400, :gravity=>"face", :crop=>"thumb"}) %>
<p>Né le <%= l(@worker.birth_date, format: '%d %B %Y') %></p>
<br>
<p>today :</p>
<p>Généré le <%= l(Date.today, format: '%d %B %Y') %></p>
<br>
<p>experience chez <%= t 'final_client' %> : <%= distance_of_time_in_words(Time.now, @worker.hire_date) %></p>
<p>experience dans le metier :
<% if @graduation_date.nil? %>
  <%= @age - 18 %> ans
<% else %>
  <%= distance_of_time_in_words(Time.now, @last_graduate_date) %>
<% end %></p>
<br>
<%= render 'graduates/index' %>
<div data-controller="toggle-display">
  <div class="hidden" data-target="toggle-display.graduateForm">
    <%= render 'graduates/new', worker: @worker, graduate: @graduate %>
  </div>
  <button class="btn btn-primary shadow" data-action="click->toggle-display#toggleShow" data-model="graduate" data-target="toggle-display.newGraduateButton">Ajouter un diplôme</button>
</div>
<br>
<%= render 'positions/index' %>
<div data-controller="toggle-display">
  <div class="hidden" data-target="toggle-display.positionForm">
    <%= render 'positions/new', worker: @worker, position: @position %>
  </div>
  <button class="btn btn-primary shadow" data-action="click->toggle-display#toggleShow" data-model="position" data-target="toggle-display.newPositionButton">Ajouter un chantier</button>
</div>
<br>
<br>
<%= link_to "retour", workers_path, class: "btn btn-outline-secondary shadow" %>
