<h1><%= @worker.first_name%> <%= @worker.last_name%></h1>
<br>
<p>birthday :</p>
<p>Né le <%= l(@worker.birth_date, format: '%d %B %Y') %></p>
<p>age : <%= @age %> ans</p>

<br>
<br>
<p>today :</p>
<p>Généré le <%= l(Date.today, format: '%d %B %Y') %></p>
<br>
<br>
<p>experience chez Terideal : <%= distance_of_time_in_words(Time.now, @worker.hire_date) %></p>
<p>experience dans le metier : <%= distance_of_time_in_words(Time.now, @last_graduate_date) %> </p>
<br>
<br>
<%= link_to "ajouter un chantier", "", id: "new_site", class: "button accept", remote: true %>

<br>
<br>
<%= link_to "retour", workers_path %>
<br>
