<h1><%= @worker.first_name%> <%= @worker.last_name%></h1>
<br>
<p>birthday :</p>
<p>Né le <%= l(@worker.birth_date, format: '%d %B %Y') %></p>
<p>age : <%= @age %> ans</p>

<br>
<br>
<p>today :</p>
<p>Généré le <%= l(Date.today, format: '%d %B %Y') %></p>
<br>
<br>
<p>experience chez Terideal : <%= distance_of_time_in_words(Time.now, @worker.hire_date) %></p>
<p>experience dans le metier : <%= distance_of_time_in_words(Time.now, @last_graduate_date) %> </p>
<br>
<br>


<h2>exprience </h2>
<ul>
  <% @positions.each do |position| %>
    <li><b>Non du client : </b> <%= position.site.client.name %></li>
    <li><b>Non du chantier : </b> <%= position.site.name %></li>
    <li><b>Montant du chantier : </b> <%= position.site.amount %><%= position.site.money_unit %></li>
    <li><b>Role: </b>  <%= position.position_name %></li>
    <li><b>Société: </b> <%= position.company.name %> </li>
    <br>
  <% end %>
</ul>

<div data-controller="toggle-display">
  <div class="hidden" data-target="toggle-display.form">
    <%= render 'sites/new', worker: @worker, site: @site %>
  </div>
  <div class="btn btn-primary" data-action="click->toggle-display#toggleShow" data-target="toggle-display.button">Ajouter un chantier</div>
</div>
<br>
<br>
<%= link_to "retour", workers_path %>
<br>



<H1>TODO</H1>
<H3>reprendes le formulaire. C'est un nested simple form qu'il faut faire.
C'est un render "position/new" qu'il faut afficher, on nest le site.build et le cliend.build</H3>
<p>nettoyer le controlleur de Site</p>
<br>
<p>corrifer le show du worker pour afficher ne pas planter pour les données manquantes</p>
<%= link_to "https://github.com/heartcombo/simple_form/wiki/Nested-Models", "https://github.com/heartcombo/simple_form/wiki/Nested-Models" %>
