<h1><%= @worker.first_name%> <%= @worker.last_name%></h1>
<br>
<%= worker_photo(@worker, transformation: {:width=>300, :height=>400, :gravity=>"face", :crop=>"thumb"}) %>
<p>Né le <%= l(@worker.birth_date, format: '%d %B %Y') %></p>
<p>age : <%= @age %> ans</p>
<br>
<p>today :</p>
<p>Généré le <%= l(Date.today, format: '%d %B %Y') %></p>
<br>
<p>experience chez <%= t 'final_client' %> : <%= distance_of_time_in_words(Time.now, @worker.hire_date) %></p>
<p>experience dans le metier :
<% if @graduation_date.nil? %>
  <%= @age - 18 %> ans
<% else %>
  <%= distance_of_time_in_words(Time.now, @last_graduate_date) %>
<% end %></p>
<br>
<%= render 'graduates/index' %>
<div data-controller="toggle-display">
  <div class="hidden" data-target="toggle-display.graduateForm">
    <%= render 'graduates/new', worker: @worker, graduate: @graduate %>
  </div>
  <button class="btn btn-primary shadow" data-action="click->toggle-display#toggleShow" data-model="graduate" data-target="toggle-display.newGraduateButton">Ajouter un diplôme</button>
</div>
<br>
<%= render 'positions/index' %>
<div data-controller="toggle-display">
  <div class="hidden" data-target="toggle-display.positionForm">
    <%= render 'positions/new', worker: @worker, position: @position %>
  </div>
  <button class="btn btn-primary shadow" data-action="click->toggle-display#toggleShow" data-model="position" data-target="toggle-display.newPositionButton">Ajouter un chantier</button>
</div>
<br>
<br>
<%= link_to "retour", workers_path, class: "btn btn-outline-secondary shadow" %>

<br>



<H1>TODO</H1>

<br>
<p>corrifer le show du worker pour afficher ne pas planter pour les données manquantes</p>
