<%= simple_form_for [ @worker, @site ] do |f| %>
  <%= f.simple_fields_for :company do |p| %>
    <%= p.input :company_id, label: 'Societe', collection: Company.all  %>   <!-- , default: Company.first -->  <!-- a ajouter pour selectioner Terideal first -->
  <% end %>
  <%= f.simple_fields_for :position do |p| %>
    <%= p.input :position_name %>
  <% end %>
  <!-- <h4>CLient</h4> -->
  <%= f.simple_fields_for :clients do |c| %>
    <%= c.input :name, label: "Client" %>
  <% end %>
  <!-- <h4>Chantier</h4> -->
  <%= f.input :name, pompt: :translate %>
  <%= f.input :site_type %>
  <%= f.input :start_date, start_year: Date.today.year - 110, end_year: Date.today.year %>
  <%= f.input :end_date, start_year: Date.today.year - 110, end_year: Date.today.year%>
  <%= f.input :amount %>
  <%= f.input :money_unit %>
  <%= f.submit input_html: { data: { action: "click->toggle-display#toggleShow" } }%>
  <button class="hidden btn btn-outline-warning" data-action="click->toggle-display#toggleShow" data-target="toggle-display.cancelButton"><%= t '.cancel' %></button>
<% end %>
